services:
  postgres:
    image: postgres
    env_file: .env
    environment:
      POSTGRES_HOST: ${DB_HOST}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - ./data:/var/lib/postgresql

  redis:
    image: redis
    env_file: .env
    ports:
      - "${REDIS_PORT}:6379"